*.DS_Store

.idea
/**/*/.idea/
/**/*/CMakeCache*
/**/*/cmake*
/**/*/*.cbp
/**/*/*.out
/**/*/Makefile
/**/*/cmake-build-debug/
!/**/*/CMakeLists.txt
/Prog/*/*
!/Prog/lab*/*.pas
!/Prog/lab*/*.doc
!/Prog/lab*/*.png
!/Prog/lab*/*.docx
!/Prog/lab*/*.zip

/Prog/env/
